@use 'vars';

.containerBlur{
    width: 50%;
    height: 450px;
    border-radius: 20px;
    background-color: vars.$beige;
    opacity: 0.9;
    filter: blur(1px);
    box-shadow: 2px 0 10px 0px black;
    margin-top: 80px;
}
