@use 'vars';

.contanerLayoutBg{
    background-image: url(../assets/images/dyonisos_logo_bg_white.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
