@use 'vars';

.containerCustomer{
    display: flex;
    margin: 20px;
    z-index: 10;
    margin-top: 30px;
}

.loginContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loginButtonCustomer{
    width: 20%;
    text-align: center;
    margin-left: 40px;
    margin-top: 190px;
    z-index: 10;
}

.loginButtonCustomer button{
    width: 20%;
    z-index: 10;
    background-color: vars.$white;
}

.inputSearchCustomer{
    width: 90%;
}

.customersListContainer{
    display: flex;
    flex-wrap:wrap;
}
