@use 'vars';

.containerCustomer{
    display: flex;
    margin: 20px;
}

.loginContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.loginButtonCustomer{
    width: 20%;
}

.inputSearchCustomer{
    width: 90%;
}
