@use 'vars';

.distributorsContainer{
    padding-top: 240px;
    padding-bottom: 50px;
    padding-inline: 200px;
}

.distributorListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
