@use 'vars';

.filterContainer{
    margin: 20px;
}

.titleFilter{
    text-align: center;
    color: vars.$wine;
    padding-inline: 10px;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsContainer button{
    margin-inline: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
}

.filterButton{
    background-color: vars.$wine;
    color: vars.$white;
    cursor: pointer;
    transition: all 0.3s;
}

.filterButton:hover{
    background-color: vars.$wine-light;
    transition: all 0.3s;
}

.resetButton{
    background-color: vars.$beige-dark;
    cursor: pointer;
    transition: all 0.3s;
}

.resetButton:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}
