@use 'vars';

.filterContainer{
    margin: 20px;
    padding-inline: 80px;
}

.ContainerFilterForm .searchInput{
    margin-top: 50px;
    margin-inline: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.titleFilter{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-inline: 20px;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonsContainer button{
    border-radius: 20px;
    padding: 10px 25px;
    border: 0;
    margin-inline: 25px;
}

.filterButton{
    cursor: pointer;
    transition: all 0.3s;
}

.filterButton:hover{
    transition: all 0.3s;
}

.resetButton{
    background-color: rgba(191, 175, 180, 1);
    cursor: pointer;
    transition: all 0.3s;
}

.resetButton:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}

.productsCount{
    text-align: center;
    padding: 20px;
}
