@use 'vars';

.filterContainer{
    margin: 20px;
}

.filterContainer select{
    width: 100%;
    padding: 5px;
    border: 0;
    background-color: vars.$beige-dark;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.filterContainer label{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.filterContainer select:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}

.filterContainer select:focus{
    color: vars.$wine;
    background-color: vars.$beige;
}

.itemsFilter{
    padding: 10px;
}

.titleFilter{
    text-align: center;
    color: vars.$wine;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsContainer button{
    margin-inline: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
}

.filterButton{
    background-color: vars.$wine;
    color: vars.$white;
    cursor: pointer;
    transition: all 0.3s;
}

.filterButton:hover{
    background-color: vars.$wine-light;
    transition: all 0.3s;
}

.resetButton{
    background-color: vars.$beige-dark;
    cursor: pointer;
    transition: all 0.3s;
}

.resetButton:hover{
    background-color: vars.$beige;
    transition: all 0.3s;
}
