@use 'vars';

*{
    margin: 0;
}

body{
    font-family: 'Playfair Display', serif;
    height:100%;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: vars.$wine;
    border: 1px solid vars.$beige-dark;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: vars.$wine-light;
}
