@use 'vars';

.searchContainer{
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.searchInput{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: vars.$beige;
    transition: all 0.5s;
}

.searchInput:hover{
    background-color: vars.$beige-dark;
    transition: all 0.5s;
}

.searchInput:focus{
    background-color: vars.$beige;
    transition: all 0.5s;
}
