@use 'vars';

.containerLogin{
    position: absolute;
    text-align: center;
    margin-top: 80px;
}

.loginTitle{
    color: vars.$wine;
    font-size: 35px;
}

.loginForm{
    display: flex;
    align-items: center;
}

.inputForm{
    margin: 20px;
    text-align: left;
}

.inputForm label{
    padding: 10px;
}

.inputForm input{
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background-color: vars.$white;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.inputForm input::placeholder{
    color: vars.$beige-dark;
}

.loginButton{
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background-color: vars.$wine;
    color: vars.$white;
    font-size: 15px;
    cursor: pointer;
    transition: all 2s;
}

.loginButton:hover{
    background-color: vars.$wine-light;
    transition: all 2s;
}

.loginButton i{
    padding-left: 5px;
}

.loginButton:hover i{
    animation-name: move;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.disclaimerLogin{
    padding: 20px;
}

.errorLogin{
    margin-top: 20px;
    color: vars.$wine-light;
}
