.arrowAnimation{
    width: 30%;
}

.animationContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31%;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .animationContainer{
        margin-top: 550px;
    }
}
