@use 'vars';

.contaienerProductsSlider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleRecomendations{
    font-size: 35px;
    color: vars.$wine;
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
}

.iconSlider{
    font-size: 80px;
    cursor: pointer;
    color: vars.$wine;
    padding: 60px;
    transition: linear 0.1s;
}

.iconSlider:hover{
    color: vars.$wine-light;
    transition: linear 0.2s;
}

.iconSlider:active{
    color: vars.$black;
    transition: linear 0.1s;
}

.iconSliderRight:active{
    padding: 65px;
    animation-name: moveArrow;
    animation-duration: 0.1s;
    animation-delay: 0.1s;
}

.iconSliderLeft:active{
    padding: 65px;
    animation-name: moveArrow;
    animation-duration: 0.1s;
    animation-delay: 0.1s;
}

.contentContainer{
    text-align: center;
    width: 50%;
}

.imageProductSlider{
    width: 100px;
    height: 360px;
    padding: 50px;
}

.titleProductSlider{
    color: vars.$wine;
    font-weight: 500;
    font-size: 35px;
    padding: 30px;
}

.contentContainer p{
    font-size: 20px;
    font-weight: 300;
}

@keyframes moveArrow {
    0%   {font-size: 80px;}
    25%  {font-size: 100px;}
    50%  {font-size: 120px;}
    100% {font-size: 140px;}
}

@media only screen and (max-width: 600px) {
    .containerImageProductSlider{
        display: block;
    }
    .contaienerProductsSlider{
        display: block;
    }
}
