@use 'vars';

.productsListContainer{
    width: 75%;
    display: flex;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.productsListContainerLoading{
    width: 75%;
    display: flex;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: -10;
}

.productsFilterContainer{
    width: 25%;
}

.buttonLoadMore{
    position: fixed;
    right: 2%;
    bottom: 13%;
}

.buttonLoadMore button{
    background-color: rgba(120, 7, 37, 0.75);
    border: 0;
    padding: 20px;
    border-radius: 100px;
    transition: linear 0.3s;
    color: vars.$white;
    cursor: pointer;
}

.buttonLoadMore button:hover{
    background-color: rgba(120, 7, 37, 1);
    transition: linear 0.3s;
}
