@use 'vars';

.itemsFilter{
    padding: 10px;
}

.itemsFilter label{
    font-weight: 400;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    font-size: 22px;
    padding-left: 20px;
}

.itemsFilter select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.itemsFilter select:hover{
    transition: all 0.3s;
}

.filterButton:hover{
    background-color: black;
    color: white;
}

