@use 'vars';

.containerAllTabs{
    padding-top: 300px;
}

.TabsContainer{
    font-size: 5px !important;
    text-transform: none !important;
}

.containerAllTabs::selection{
    background-color: red; 
}

.itemsTab{
    display: flex !important;
}

.dividerTabs{
    margin-right: 50px !important;
    border: 1px solid vars.$wine !important;
}

.TabsContainer{
    font-size: 15px !important;
    color: vars.$black !important;
    font-family: 'Montserrat', sans-serif !important;
}

.itemsProducts{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.loadingProductsContainer{
    width: 80%;
    margin-top: 15%;
}

